.MatchPage {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 10px;

    .YearSelector {
        justify-self: end;
        padding: 20px;
    }

    .page-header {
        margin: 20px auto;
    }
}